*{
    margin: 0;
    padding: 0;
    background: #191919;
}

.btn-primary{
    background: #3eb489;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    justify-content: space-around;
    height: 4rem;
    border-bottom: 0.1px solid azure;
    /* box-shadow:  0 0 0 5px rgba(0, 0, 0, 0.8); */
    box-shadow:  0 1px 4px 0 #999;
}

.nav_links{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 2rem;
}

.nav-btn{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.logo h3{
    font-size: 2rem;
    font-weight: 100;
    color: #fff;
}

.logo h3 i{
    padding-right: .6rem;
}

ul{
    list-style: none;
}

.nav_links  li a{
    font-size: 1.1rem;
    text-decoration: none;
    color: azure;
    opacity: .5;
}

.btn-primary{
    padding: 10px 16px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    color: #fff;
}

.btn-secondary{
    padding: 8px 18px;
    border: 1px solid #fff;
    color: azure;
}

.header{
    width: 80%;
    margin: 5rem auto 1rem;
    padding-bottom: 0;
    height: 73vh;
}
.header .header_top{
    margin-left: 3rem;
    width: 45%;
    margin-bottom: 1rem;
}

.header_top h1{
    color: #fff;
    font-size: 3.8rem;
    margin-bottom: 1.7rem;
}

.header_top p{
    color: #fff;
    opacity: .7;
    width: 75%;
    font-size: 1.4rem;
    margin-bottom: 2rem;
}

.header_bottom{
    margin-top: 6rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    color: #fff;
    justify-content: space-evenly;
}

.header-cards{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    width: 20rem;
    height: 5rem;
    border: 1px solid #999;
    box-shadow: 0 1px 2px  #383838;
}

.header-cards i{
    font-size: 3rem;
    color: #3eb489;
}

.header-card-content{
    display: flex;
    flex-direction: column;
}

.header-cards h3{
    color: grey;
    font-size: 1.4rem;
    font-weight: 100;
    margin-bottom: 10px;
}

.header-cards h2{
    font-size: 1.4rem;
}

.about_section{
    margin-top: 0;
    width: 100%;
    border-top: 1px solid #999;
    /* border-bottom: 1px solid #999; */
}

.about-top{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 5rem auto;
    color: #fff;
}

.about-top-card h2 i{
    color: #3eb489;
}p{
    width: 70%;
}

.about-top-card h2{
    margin-bottom: 1rem;
    font-size: 25px;
}

.about-top-card p{
    font-size: larger;
}

.about-bottom{
    width: 80%;
    margin: 7rem auto;
    color: #fff;
}

.about-bottom-header{
    width: 60%;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.about-bottom-cards{
    display: flex;
    gap: 1rem;
    flex-direction: row;
    justify-content: space-between;
    background-color: #151515;
}

.about-bottom-card{
    border: 1px solid #999;
    padding: 15px;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
}

.about-bottom-card h2{
    font-size: 25px;
    font-weight: 200;
    margin-bottom: 1rem;
}

.about-bottom-card p{
    margin-bottom: 1rem;
    font-size: 20px;
}

.about-bottom-card h6{
    margin-bottom: 1rem;
}

.about-btn{
    margin-bottom: 1rem;
}
.about-btn button{
    margin-right: .5rem;
}

.footer{
    background: #151515;
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    padding-bottom: 1rem;
    align-items: center;
    border-top: 1px solid #999;
}

.footer .social-links{
    margin: 1rem auto 1rem;
    display: flex;
    flex-direction: row;
    gap: 3.5rem;
    
}

.footer .social-links .uil{
    font-size: 2rem;
    /* flex-direction: row; */
    color: grey;

}

.footer .social-links li{
    background: #151515;
}

.footer-bottom{

    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    color: #fff;
}
